*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

.speed-reader-grid {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding-top: 10%;
}

.speed-reader-grid > button {
    cursor: pointer;
    font-size: 2rem;
    /* background-color: rgb(192, 222, 237); */
    background-color: #3f51b5;
    color: white;
    outline: none;
    border: none;
    transition: background-color .2s ease-in-out;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 4px;
}

.speed-reader-grid > button:hover {
    background-color: whitesmoke;
    color: #3f51b5;
}

.speed-reader-grid > input {
    outline: none;
    border: none;
    text-align: center;
    font-size: x-large;
    border-radius: 4px;
    transition: border .1s ease;
}

.speed-reader-grid > input:hover {
    border: 3px solid #3f51b5;
}

.speed-reader-grid > input:focus {
    border: 3px solid #3f51b5;
}

.speed-reader-grid > textarea {
    resize: vertical;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 4px;
    transition: border .1s ease;
}

.speed-reader-grid > textarea:hover {
    border: 3px solid #3f51b5;
}

.speed-reader-grid > textarea:focus {
    border: 3px solid #3f51b5;
}

.focus {
    grid-column: 1 / -1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-radius: 4px;
}

.span-two {
    grid-column: span 2;
}

.span-four {
    grid-column: span 4;
}

#instructions {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 25px 25px 0;
    border-radius: 50%;
    background-color: #3f51b5;
    border: none;
    color: white;
    transition: border 0.5s ease;
    transition: background-color 0.5s ease;
    height: 100px;
    width: 100px;
    font-size: xx-large;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    cursor: pointer;
}

#instructions:hover {
    background-color: white;
    color: #3f51b5;
}
  
#instructions:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}